* {
    box-sizing: border-box;
}

.html {
    font-family: 'Roboto', sans-serif;
}

.body {
    background-color: #ebebeb;
    position: relative;
    padding-bottom: 779px;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    background-color: #EAC926;
    border-color: #EAC926;
    padding-bottom: 3%;
}

.navbar {
    display: none;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.navbar ul
{  
    list-style: none;
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 2%;
}

.navbar ul a
{
    color: #000000;
    text-decoration: none;
}

.busqueda {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 2%;
}

.p-header {
    width: 100%;
    text-align: center;
}

a:link { 
    text-decoration:none;
} 

a:visited {
    text-decoration:none;
}

.logo {
    width: 250px;
    padding: 5% 2%;
}

.secciones {
    width: 100%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.burger-menu
{         
    color: #ebebeb;
    background-color: #1259c3;
    border-radius: 7px;
    padding: 10px 10px 10px 10px; 	
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.articulos {
    width: 88%;
    background-color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 0%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 3px;
}

.subarticulo {
    border-width: 1px;
    border-color: #ebebeb;
    border-style: solid;
    position: relative;
}


.h2-titulares {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #666;
    margin-left: 0%;
    width: 100%;
    display: flex;
    margin-block-start: 1%;
    margin-block-end: 0%;
    padding-top: 2%;
    padding-left: 6%;
}

.imagenes {
    width: 90%;
    margin-left: 5%;
}

.camion-container
{
    position: absolute;
    align-content: center;
    text-align: center;
    border: solid 1px #39b54a;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 35px;
    height: 35px;
    right: 10%;
    top: -15%;
    transition: all 1000ms;
}

.camion-container i
{
    color: #39b54a; 
    transform: translateY(50%);
    margin: 0 0 0 3px;
}

.descuentos {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #39b54a;
    margin-left: 5%;
}

.precios {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 5%;
}

.descripcion {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #666;
    margin-left: 5%;
    display: none;
}

.iconos-pie
{
    margin: auto;
    color: #0022AA;
    margin-bottom: 10px;
    font-size: 2em;
}

.footer-section {
    width: 100%;
    margin-top: 10%;
    align-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 14px;
    background-color: #FFFFFF;
    padding-left: 20%;
    padding-right: 20%;
}

.footer {
    background-color: #FFFFFF;
    margin-top: 5%;
    padding: 3% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h2-footer {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding: 0%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.p-footer {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 11px;
}

.h3-footer {
    width: 100%;
    font-size: 10px;
    margin-top: 10%;
    padding-left: 5%;
    color: #666;
    align-content: center;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 381px) 
{
  
    .navbar
    {
        display: flex; 
        justify-content: space-around;
    }

    .burger-menu
    {
        display: none;
    }

    .descripcion {
        display: block;
    }

    .h2-titulares {
        padding-left: 1%;
        padding-top: 0.5%;
        margin-block-start: 1%;
    }

    .articulos {
        width:48%;
        margin-left: 0%;
        margin-right: 0%;
        background-color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 0;
        margin-bottom: 1%;
        margin-top: 1%;
        border-radius: 3px;
        box-shadow: 0px 0px 10px #666;
    }

    .articulos:hover>.camion-container
    {
        transform: rotate(-90deg);
    }
}


@media (min-width: 768px)
{
    .logo
    {
        padding: 1%;
    }

    .h2-titulares {
        padding-top: 0%;
    }

    .articulos {
        width:24%;
        background-color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 0;
        margin-bottom: 1%;
        margin-top: 1%;
        border-radius: 3px;
        box-shadow: 0px 0px 10px #666;
    }

    .footer-section {
        width: 28%;
        margin-top: 2%;
        align-content: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #666;
        font-size: 14px;
        background-color: #FFFFFF;
        padding-left: 2%;
        padding-right: 2%;
    }
}
    
@media (min-width: 1200px)
{
    .secciones {
        justify-content: space-evenly;
        padding: 0% 10%;
    }

    .h2-titulares {
        padding-left: 12%;
        margin-block-start: 1%;
    }
    .articulos {
        width:22%;
        background-color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 0;
        margin-bottom: 1%;
        margin-top: 1%;
        border-radius: 3px;
        box-shadow: 0px 0px 10px #666;
    }

}